*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(100, 99, 99);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    text-align: center;
    height: auto;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 6px;
}

h1{
    margin: 20px;
    font-size: 2.5rem;
}

#formElm{
    display: flex;
    flex-direction: column;
   
}

input{
    margin: 10px;
    border: 1px solid black;
}
button{
    padding:10px 20px;
    border-radius: 20px;
    background-color:#28a745;
    color: white;
    outline: none;
    border: none;
    font-size: medium;
    width: 30%;
    position: relative;
    left: 35%;
    margin-top: 10px;
}

button:hover{
    background-color:black;
    color: #28a745;
    transition: 0.5s;
    cursor: pointer;
}

input[type="number"]{
    padding:10px 20px;
    border-radius: 6px;
    color: black;
    outline: none;
}
input[type="radio"]{
    cursor: pointer;
}

select{
    padding:10px 20px;
    border-radius: 6px;
    color: black;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
}

#result {
    margin-top: 10px;
}

