body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin: 0;
    padding: 0;
}
label{
    display: block;
    margin: 0px 0px 20px 0px;
    font-size: 1.05rem;
}
.container{
    border: none;
    border-radius: 4px;
    padding: 20px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
button{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
}

select, input{
    padding: 5px;
    cursor: pointer;
    outline: none;
}

h1,h3{
    color: black;
}